<ion-content [fullscreen]="true">
  <ion-card button class="profile-card">
    <div class="card-container">
      <ion-icon name="person-outline"></ion-icon>
      <p>Edit Profile</p>
    </div>
  </ion-card>
  <ion-card button>
    <div class="card-container">
      <ion-icon name="notifications-outline"></ion-icon>
      <p>Notifications</p>
    </div>
  </ion-card>
  <ion-card button>
    <div class="card-container">
      <ion-icon name="help-circle-outline"></ion-icon>
      <p>Help</p>
    </div>
  </ion-card>
  <ion-card button color="danger" (click)="logout()">
    <div class="card-container">
      <ion-icon name="log-out-outline"></ion-icon>
      <p>Logout</p>
    </div>
  </ion-card>
</ion-content>