<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button routerLink="all-trips" routerLinkActive="active">
      <ion-label>Todos los viajes</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="upcoming-trips" routerLinkActive="active">
      <ion-label>Próximos viajes</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="past-trips" routerLinkActive="active">
      <ion-label>Historial de viajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-router-outlet></ion-router-outlet>
</ion-tabs>