<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button routerLink="my-trips/all-trips">
        <ion-label>Todos los viajes</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="my-trips/upcoming-trips">
        <ion-label>Próximos viajes</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="my-trips/past-trips">
        <ion-label>Historial de viajes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-router-outlet></ion-router-outlet>
  </ion-tabs>
</ion-content>