:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 5%;

    .top {
        width: 100%;
        height: 200px;
        background: linear-gradient(to right, #E48876, #555E7A);

        border-radius: 0 0 200% 200%;
        position: absolute;
        top: -100px;
        z-index: -1;
    }

    ion-avatar {
        width: 150px;
        height: 150px;
        margin-top: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        background-color: #E48876;

        img {
            display: block;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    h3 {
        color: rgb(0, 0, 0, .7);
    }

    .profile-stats {
        display: flex;

        .posts,
        .followers,
        .following {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 30px;
            color: rgb(0, 0, 0, .7);
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

        ion-button {
            width: 48%;
            height: 50px;
            --background: none;
            color: rgb(0, 0, 0, .7);
            transition: .3s ease;
        }

        ion-button:hover {
            --background: linear-gradient(165deg, #f76e4fc8, #263256c8);
            color: #f6f6f6;
        }
    }
}