<ion-content [fullscreen]="true">

    <div class="head">
        <h3>
            Welcome
        </h3>
        <ion-button class="getStartedBtn">Get Started</ion-button>
    </div>
    <p class="description">
        Wander Aura is an app for your trip planning. You can choose the best destinations for your trip. You can choose
        the best activities for your trip. Thank you.
    </p>
    <div class="card-container">
        <div *ngFor="let card of cards" class="card">
            <img alt="Silhouette of mountains" [src]="card.img" />
            <h3 class="title">{{card.title}}</h3>
        </div>
    </div>
    <app-bottom-section></app-bottom-section>
    <ion-button class="up" (click)="up()">
        <ion-icon name="arrow-up"></ion-icon>
    </ion-button>
</ion-content>