<ion-content [fullscreen]="true" *ngIf="isAuthenticated">

    <div class="head">
        <h3>
            Bienvenido
        </h3>
        <ion-button class="getStartedBtn" (click)="getStarted()">Get Started</ion-button>
    </div>
    <p class="description">
        Bienvenido a Wander Aura, la app para planificar tus viajes. Puedes elegir los mejores destinos para tu viaje,
        y las mejores actividades para disfrutar al m ximo. Disfruta tu viaje.
    </p>
    <div class="card-container">
        <div *ngFor="let card of cards" class="card" [routerLink]="'/tabs/' + card.routerLink">
            <img alt="Silhouette of mountains" [src]="card.img" alt="Card image" />
            <h3 class="title">{{card.title}}</h3>
        </div>
    </div>
    <app-bottom-section></app-bottom-section>
    <ion-button class="up" (click)="up()">
        <ion-icon name="arrow-up"></ion-icon>
    </ion-button>
</ion-content>