<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>WanderAura</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div>
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/tabs/home" routerLinkActive="active">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/profile" routerLinkActive="active">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/trips" routerLinkActive="active">
          <ion-icon name="airplane-outline"></ion-icon>
          <ion-label>Trip</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/activities" routerLinkActive="active">
          <ion-icon name="list-outline"></ion-icon>
          <ion-label>Activities</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/settings" routerLinkActive="active">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/weather" routerLinkActive="active">
          <ion-icon name="partly-sunny-outline"></ion-icon>
          <ion-label>Weather</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs/help" routerLinkActive="active">
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="header-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>WanderAura</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="posts">
          <ion-icon name="images"></ion-icon>
          Posts
        </ion-tab-button>
        <ion-tab-button tab="weather">
          <ion-icon name="sunny"></ion-icon>
          Weather
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>