<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="4" *ngFor="let post of posts" (click)="openPost(post)">
                <ion-img [src]="post.imageUrl"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more posts...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>