<ion-content>
  <div class="trip" *ngIf="!booking">
    <img [src]="trip?.image" />
    <div class="header">
      <h4>{{ trip?.name }}</h4>
      <div class="subhead">
        <p>📅{{ trip?.duration }} días</p>
        <p>💵${{ trip?.price }}</p>
        <p>⭐{{ trip?.destination?.name }}<span>10 / 10</span></p>
      </div>
      <p>{{ trip?.description }}</p>

    </div>
    <div class="content">
      <p>Destination: {{ trip?.destination?.name }}</p>
      <p>Accommodation: {{ trip?.accommodation }}</p>
      <p>Transportation: <span *ngFor="let transportation of trip?.transport">{{ transportation.type | uppercase
          }}</span></p>
      <p>Activities: <span *ngFor="let activity of trip?.activities">{{ activity.name }}, </span></p>

    </div>
    <div class="button">
      <ion-button (click)="isBooking()">Reservar</ion-button>
    </div>
  </div>

  <app-trip-posts *ngIf="!booking"></app-trip-posts>
  <app-booking *ngIf="booking" [trip]="trip"></app-booking>
</ion-content>