<ion-content [fullscreen]="true">
  <ion-title>Activities</ion-title>
  <div class="activities-container">
    <div class="activity-card" *ngFor="let activity of activities; let i = index">
      <img [src]="activityImages[i]" alt="activity image">
      <div class="content">
        <h4>{{activity.name}}</h4>
        <p>{{activity.description}}</p>
      </div>
      <ion-button color="secondary">
        <ion-icon name="add" style="width: 3em;"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>