<ion-content [fullscreen]="true">
  <ion-title>Activities</ion-title>
  <div class="activities-container">
    <div class="activity-card">
      <img src="https://cdn.britannica.com/94/125794-050-FB09B3F4/Hikers-Gore-Range-Mountains-Denver.jpg" alt="hiking">
      <div class="content">
        <ion-icon slot="start" name="add"></ion-icon>
        <h4>Card title</h4>
        <p>A challenging but rewarding hiking adventure through mountainous landscapes.</p>
      </div>
    </div>
    <div class="activity-card">
      <img src="https://cdn.britannica.com/94/125794-050-FB09B3F4/Hikers-Gore-Range-Mountains-Denver.jpg" alt="hiking">
      <div class="content">
        <ion-icon slot="start" name="add"></ion-icon>
        <h4>Card title</h4>
        <p>A challenging but rewarding hiking adventure through mountainous landscapes.</p>
      </div>
    </div>
    <div class="activity-card">
      <img src="https://cdn.britannica.com/94/125794-050-FB09B3F4/Hikers-Gore-Range-Mountains-Denver.jpg" alt="hiking">
      <div class="content">
        <ion-icon slot="start" name="add"></ion-icon>
        <h4>Card title</h4>
        <p>A challenging but rewarding hiking adventure through mountainous landscapes.</p>
      </div>
    </div>
  </div>
</ion-content>