<h4 class="title">Must see</h4>
<div class="card-container">
  <div class="card">
    <img src="https://i.pinimg.com/736x/36/e9/8b/36e98bd97ad59953da4c7474b95529bc.jpg" alt="River">
    <div class="content">
      <div class="description">
        <h4 class="card-title">Card title</h4>
        <p>Descripcion card</p>
      </div>
      <ion-button>+</ion-button>
    </div>
  </div>
  <div class="card">
    <img src="https://i.pinimg.com/736x/36/e9/8b/36e98bd97ad59953da4c7474b95529bc.jpg" alt="River">
    <div class="content">
      <div class="description">
        <h4 class="card-title">Card title</h4>
        <p>Descripcion card</p>
      </div>
      <ion-button>+</ion-button>
    </div>
  </div>
  <div class="card">
    <img src="https://i.pinimg.com/736x/36/e9/8b/36e98bd97ad59953da4c7474b95529bc.jpg" alt="River">
    <div class="content">
      <div class="description">
        <h4 class="card-title">Card title</h4>
        <p>Descripcion card</p>
      </div>
      <ion-button>+</ion-button>
    </div>
  </div>
</div>