<h4 class="title">Destinos Imperdibles</h4>
<div class="card-container">
  <div class="card" *ngFor="let trip of trips">
    <img src="{{trip.image}}" alt="River">
    <div class="content">
      <div class="description">
        <h4 class="card-title">{{trip.name}}</h4>
        <div class="info">
          <p>{{trip.duration}} Dias</p>
          <p>${{trip.price}}</p>
        </div>

        <ion-button (click)="goToTripDetail(trip.id)">Ver detalles</ion-button>
      </div>

    </div>
  </div>
</div>