/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

// IONIC DIFFERENT COLORS

:root {
    --ion-color-primary: #56bee4;
    --ion-color-primary-rgb: 86, 190, 228;
    --ion-color-primary-contrast: rgba(0, 0, 0, .7);
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #4ca8cc;
    --ion-color-primary-tint: #6cc4e7;

    --ion-color-secondary: #fcad48;
    --ion-color-secondary-rgb: 252, 173, 72;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #e3993d;
    --ion-color-secondary-tint: #fcb462;

    --ion-color-tertiary: #3d414a;
    --ion-color-tertiary-rgb: 61, 65, 74;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #353841;
    --ion-color-tertiary-tint: #51555f;

    --ion-color-medium: #8f8f8f;
    --ion-color-medium-rgb: 143, 143, 143;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #7c7c7c;
    --ion-color-medium-tint: #9f9f9f;

    --ion-color-dark: #3d414a;
    --ion-color-dark-rgb: 61, 65, 74;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #353841;
    --ion-color-dark-tint: #51555f;

    --ion-color-danger: #e45656;
    --ion-color-danger-rgb: 228, 86, 86;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cc4ca4ca;
    --ion-color-danger-tint: #e76c6c;

    --ion-background-color: #ffffff;
    --ion-text-color: rgba(0, 0, 0, 0.7);
}

ion-button {
    --color: white;
}